<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sriky.popflix">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">

        <!-- The main activity which displays the movie thumbnails -->
        <activity android:name=".PopularMoviesActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- The setting activity which displays the preference fragment -->
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".PopularMoviesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PopularMoviesActivity" />
        </activity>

        <!-- The movie details activity -->
        <activity android:name=".MovieDetailActivity"
            android:label="@string/details_activity"
            android:parentActivityName=".PopularMoviesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PopularMoviesActivity" />
        </activity>

        <!-- Content Provider -->
        <provider
            android:authorities="com.sriky.popflix"
            android:name=".data.MoviesProvider"
            android:exported="false">
        </provider>

    </application>

</manifest>